<footer class="container-fluid px-3 pt-3 bg-secondary-subtle">
    <div class="d-flex flex-column-reverse flex-md-row flex-lg-row justify-content-between">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3504.815048806253!2d77.27041907464556!3d28.545278388039183!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce3759be54ec1%3A0xc7635467b7fda3e9!2sIIIT%20Delhi%20Innovation%20and%20Incubation%20Center!5e0!3m2!1sen!2sin!4v1692345869962!5m2!1sen!2sin" class="w-50" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        
        <ul class="list-unstyled">
            <li class="pb-2"><a href="#" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"><i class="fa-brands fa-linkedin"></i> Linkedln</a></li>
            <li class="pb-2"><a href="#" class="link-info link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"><i class="fa-brands fa-twitter"></i> Twitter</a></li>
            <li class="pb-2"><a href="#" class="link-danger link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"><i class="fa-brands fa-instagram"></i> Instagram</a></li>
            <li class="pb-2"><a href="#" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"><i class="fa-brands fa-square-facebook"></i> Facebook</a></li>
        </ul>
        <ul class="me-5">
            <li role="button"><a href="#" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">Support</a></li>
            <li role="button"><a href="#" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">Feedback</a></li>
            <li role="button"><a href="#" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">Terms of use</a></li>
            <li role="button"><a href="#" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">Privacy Policy</a></li>
        </ul>
    </div>
    <p class="m-0 mt-3 text-center">Copyright © 2023. All rights reserved.</p>
  </footer>